{% load static %}<!doctype html>

<html lang="{{ lang_dash }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">

    <!-- Favicons -->
    <link rel="mask-icon" href="favicon.svg" color="#4a90e2">
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
    <link rel="icon" href="favicon.png">

    <!-- oGraph -->
    <meta property="og:url" content="http://www.vua.sh">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.vua.sh/fb-icon.png">
    <meta property="og:description" content="{{ slogan }}">
    <meta property="og:site_name" content="Vuash">
    <meta property="og:title" content="Vuash">
    <meta property="og:locale" content="{{ lang_underscore }}">

    <!-- Facebook -->
    <meta property="fb:app_id" content="1058681947542613">

    <!-- Android -->
    <meta name="theme-color" content="#4a90e2">

    <title>Vuash - {{ slogan }}</title>
    <meta name="description" content="{{ slogan }}">

    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>

  <body>
    <div class="site-wrap">

      <header class="site-header" role="banner">
        <a class="logo-vuash" href="/">
          <svg height="30px" viewBox="0 0 106 97">
            <title>{{ logo_title }}</title>
            <path id="vuash-mark" fill="#4a90e2" d="M2.99760217e-15,3.99306484 C2.77555756e-15,0.687680951 2.43876573,-0.874545286 5.44713571,0.51377346 L102.89866,43.4862265 C105.905166,44.873685 105.90703,51.1254547 102.89866,52.5137735 L5.44713571,95.4862265 C2.44062987,96.873685 9.88098492e-15,95.3168135 9.65894032e-15,92.0069352 L7.23556427e-15,61.818444 C7.10237572e-15,60.1592869 1.3243002,58.565268 2.94293644,58.2609181 L39.802494,51.3302669 C44,50.9999999 44,44.9999999 39.802494,44.6704158 L2.94293644,37.7397646 C1.31759752,37.4341544 1.21222207e-16,35.8440787 2.71304116e-16,34.1821769 L2.99760217e-15,3.99306484 Z"></path>
          </svg>
          Vuash
        </a>
        <p class="slogan">{{ slogan }}</p>
      </header>

      <main class="site-body" role="main">
        {% block content %}
        {% endblock %}
      </main>

      <footer class="site-footer" role="complementary">
        <ul class="features">

          <li>
            <h2>{{ footer.features.safety.title }}</h2>
            <p>
              {{ footer.features.safety.text }}
              {# TODO: Link to article/wiki about security #}
              {% comment %}
                <br>
                <a href="{% footer.features.safety.link-href %}" target="_blank">{{ footer.features.safety.link-text_html }}</a>
              {% endcomment %}
            </p>
          </li>

          <li>
            <h2>{{ footer.features.open_source.title }}</h2>
            <p>
              {{ footer.features.open_source.text }}
              <br>
              <a href="{{ footer.features.open_source.link_href }}" target="_blank">{{ footer.features.open_source.link_text_html }}</a>
            </p>
          </li>

          <li>
            <h2>{{ footer.features.donations.title }}</h2>
            <p>
              {{ footer.features.donations.text }}
              <br>
              <a href="{{ footer.features.donations.link_href }}" target="_blank">{{ footer.features.donations.link_text_html }}</a>
            </p>
          </li>
        </ul>
      </footer>

    </div>

    <!-- GoatCounter -->
    <script data-goatcounter="https://vuash.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
